# Customer Churn Analysis

In [7]:
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import SMOTE
from sklearn.metrics import SCORERS, confusion_matrix, roc_auc_score
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
import warnings
warnings.filterwarnings('ignore')

In [9]:
data = pd.read_csv("customer churn analysis.csv")
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [10]:
X = data.drop(columns = ['Churn', 'customerID'])
y = data['Churn']
X.shape, y.shape

((7043, 19), (7043,))

In [11]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.2, random_state = 6)
Xtrain.shape, ytrain.shape, Xtest.shape, ytest.shape

((5634, 19), (5634,), (1409, 19), (1409,))

In [12]:
Xtrain.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges'],
      dtype='object')

In [13]:
Xtrain.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
dtype: object

In [14]:
Xtrain['TotalCharges'] = pd.to_numeric(Xtrain['TotalCharges'], errors = 'coerce')

In [15]:
Xtrain.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    5634.000000  5634.000000     5634.000000   5625.000000
mean        0.161519    32.075790       64.671166   2258.736169
std         0.368042    24.492631       30.177218   2260.108079
min         0.000000     0.000000       18.250000     18.800000
25%         0.000000     9.000000       35.275000    398.550000
50%         0.000000    28.000000       70.350000   1372.450000
75%         0.000000    55.000000       90.050000   3734.250000
max         1.000000    72.000000      118.750000   8684.800000

In [16]:
Xtrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5634 entries, 1370 to 2761
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            5634 non-null   object
 1   SeniorCitizen     5634 non-null   int64
 2   Partner           5634 non-null   object
 3   Dependents        5634 non-null   object
 4   tenure            5634 non-null   int64
 5   PhoneService      5634 non-null   object
 6   MultipleLines     5634 non-null   object
 7   InternetService   5634 non-null   object
 8   OnlineSecurity    5634 non-null   object
 9   OnlineBackup      5634 non-null   object
 10  DeviceProtection  5634 non-null   object
 11  TechSupport       5634 non-null   object
 12  StreamingTV       5634 non-null   object
 13  StreamingMovies   5634 non-null   object
 14  Contract          5634 non-null   object
 15  PaperlessBilling  5634 non-null   object
 16  PaymentMethod     5634 non-null   object
 17  MonthlyCharges    5634 non-null   float64
 18  TotalCharges      5625 non-null   float64
dtypes: float64(2), int64(2), object(15)
memory usage: 880.3+ KB

In [17]:
Xtrain.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        9
dtype: int64

In [18]:
Xtrain = Xtrain.fillna(value = 0)

In [19]:
ytrain.head()

1370     No
5676     No
5800     No
1645    Yes
366      No
Name: Churn, dtype: object

In [20]:
ytrain.value_counts()

No     4120
Yes    1514
Name: Churn, dtype: int64

In [21]:
le = LabelEncoder()
temp = ytrain.copy()
ytrain = pd.DataFrame(le.fit_transform(temp), columns = ['Churn'], index = temp.index)
ytrain.head()

      Churn
1370      0
5676      0
5800      0
1645      1
366       0

In [22]:
numeric_cols = ['tenure', 'MonthlyCharges', 'TotalCharges']
categorical_cols = [x for x in Xtrain.columns if x not in numeric_cols]
numeric_cols, categorical_cols

(['tenure', 'MonthlyCharges', 'TotalCharges'],
 ['gender',
  'SeniorCitizen',
  'Partner',
  'Dependents',
  'PhoneService',
  'MultipleLines',
  'InternetService',
  'OnlineSecurity',
  'OnlineBackup',
  'DeviceProtection',
  'TechSupport',
  'StreamingTV',
  'StreamingMovies',
  'Contract',
  'PaperlessBilling',
  'PaymentMethod'])

Random Forest Classifier